<a href="https://colab.research.google.com/github/potterica/df101_spring2019/blob/master/name_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

conn = sqlite3.connect('name.db')
c = conn.cursor()
c.execute('''CREATE TABLE master (firstname text, lastname text, age int, score real)''')

firstname = "Jonn" 
lastname = "Garet" 
age = 18
score  = 23,7

c.execute("INSERT INTO master (firstname,lastname,age,score) VALUES (?,?,?,?)", (firstname,lastname,age,score))

conn.commit()
conn.close()

InterfaceError: ignored